body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 20px;
}  

.logo {
    width: 100px; /* Adjust logo width as needed */
    height: auto;
}
  
h1,h2 {
    text-align: center;
    font-size: 4rem;
}

.background-hessel {
    background-size: cover;
    min-height: 80vh;
    /* width: 100vw; */
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
}

.bg-overlay,.bg-overlay-tagline{
    /* position: absolute; */
    /* width: 200%; */
    height: 100%;
    border-color: rgba(0,0,0,rgba(0,0,0,.2));
}

/* .bg-overlay-tagline{
    position: absolute;
    width: 100%;
    height: 100%;
    border-color: rgba(0,0,0,rgba(0,0,0,.2));
} */

/* h2 {
    margin-bottom: 10px;
} */
  
nav {
    display: flex;  /* Makes navigation items behave as a row */
    justify-content: center;  /* Centers navigation links */
    align-items: center; /* Vertically centers navigation links */
}
  
nav a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: black;
}
  
nav a:hover {
    color: #007bff;
}
  
main {
    padding: 20px;
}


.auth-btn {
    background-color: transparent;  /* adjust background color */
    border: 1px solid #ccc;  /* adjust border */
    color: #000;  /* adjust text color */
    padding: 5px 10px;  /* adjust padding */
    margin-left: 10px;  /* adjust spacing */
    cursor: pointer;  /* indicates clickable element */
}
  
.auth-btn:hover {
    background-color: #f2f2f2;  /* adjust hover background color */
}

.auth {
    float: right;
    list-style: none;  /* removes default bullet points */
    margin: 0;  /* removes default margin */
    padding: 0;  /* removes default padding */
}

/* .welcome {
    text-align: center;
}
  
.welcome h2 {
    margin-bottom: 20px;
} */
  
footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
}
  